.contactBg {
    background: url("../assets/LandingPage.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  
  .div-wrapper {
    position: relative;
    padding-top: 10rem;
    font-family: "FutoSansBold";
  }
  
  .background-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: #ffffff9c;
    border-radius: 30px;
    padding-top: 70px;
    padding-bottom: 50px;
    width: 90%; 
    max-width: 600px; 
    margin: 2rem auto; 
  }
  
  .form-h2 {
    margin-top: -40px;
    color: #717577;
    font-size: 1.5rem; 
  }
  
  form {
    width: 90%; 
    max-width: 400px; 
    display: flex;
    flex-direction: column;
    margin: 1rem auto; 
    padding-top: 20px;
  }
  
  form > * {
    padding: 7px 10px;
    margin-bottom: 7px;
    border: 1px solid #ccc;
    outline: #F08A9B;
    background-color: #ffffffe1;
    border-radius: 4px;
    /* font-size: 1rem;  */
    /*Reduce font size for smaller screens */
  }
  
  .f-btn {
    cursor: pointer;
    color: #fff;
    background-color: #F08A9B;
    font-family:"FutoSansBold";
    border-radius: 7px;
}

.f-btn:hover {
    background-color: #d87c8c;
}

.icon {
    margin-right: 15px;
}

.fb {
    color: #2f2fa5e3
}

.ig {
    color: #9b429b;
}

.tw {
    color: #0091ff;
}

.in {
    color: #304eba;
}