*{
    margin: 0;
    padding: 0;
}

.gardenBackground {
    background: url("../assets/Garden.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;

}

.tree{
    position: fixed;
    left: 45%;
    bottom: 70px;
}