*{
    margin: 0;
    padding: 0;
}

.gardenBackground {
    background: url("../assets/Garden.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;

}

.tree{
    position: fixed;
    bottom: 0px;
    width: 100%;
  height: auto;
}

.treeButton{
    width: 200px;
    height: 40px;
    position: relative;
    top: 860px;
    left: 40px;
    z-index: 2;
    background-color: #F08A9B;
    border-style: none;
    border-radius: 19px;
    font-weight: bold;
    color: white;
}