/* RESETS */

* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 3%;
}

.logo {
  text-decoration: none;
  color:#3badad
}

nav a {
  color: #333232;
  font-size: 16px;
  text-decoration: none;
}

nav a:not(:last-child) {
  margin-right: 15px;
}
