.landingBackground1{
    background: url("../assets/LandingPage.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.mainTitle{
    font-family: "RammettoOneRegular";
    color: white;
    font-size: 100px;
}

.bodyText{
    font-family:"FutoSansMedium" ;
    color: white;
}

.textContainer{
    position: relative;
    top: 250px;
    left: 60px;
}

.landingButton{
    background-color: #F08A9B;
    font-family:"FutoSansBold" ;
    font-size: ;
    color: white;
    border-style: none;
    padding: 16px 40px 16px 40px;
    border-radius: 10px;
    margin-top: 30px;
}

.landingButton:hover{
    background-color: #d87c8c;  
}

.petals{
    position: absolute;
    filter: blur(5px);
    width: 100%;
    height: auto;
}

.landingBackground2{
    background: url("../assets/Waterfall.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.landingBackground3{
    background: url("../assets/CrystalCave.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}



.meditatingMan{
    position: absolute;
    margin-left: 35%;
    animation: MoveUpDown 13s linear infinite;
    position: absolute;
    bottom: -100px;
}

  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: -160px;
    }
    50% {
      bottom: -80px;
    }
  }

  .landingBackground4{
    background: url("../assets/Cave.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}