.menuBackground{
    background: url("../assets/menuBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 320vh;
    width: 100vw;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    
}

.menuIconsContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    position: relative;
    top: 200px;
}

.iconText{
    font-family: "FutoSansBold";
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

.iconText3 {
    margin-top: 27px;
}

.menuIcon1{
    margin: 22px 10px 10px 10px;
    width: 300px;
        height: auto;
}
.menuIcon1:hover{
    margin: 22px 10px 10px 10px;
    opacity: 0.8;
}
.menuIcon2{
    margin: 10px 10px 10px 10px;
    width: 300px;
        height: auto;
}
.menuIcon2:hover{
    margin: 10px 10px 10px 10px;
    opacity: 0.8;
}

.menuIcon3{
    margin: 10px 10px 10px 10px;
    position: relative;
    top: 20px;
    width: 300px;
        height: auto;
}
.menuIcon3:hover{
    margin: 10px 10px 10px 10px;
    opacity: 0.8;
}

.menuIcon4{
    margin: 7px 10px 10px 10px;
    width: 300px;
        height: auto;
}
.menuIcon4:hover{
    margin: 7px 10px 10px 10px;
    opacity: 0.8;
}

.menuIcon5{
    margin: 7px 10px 10px 10px;
    width: 300px;
        height: auto;
        position: relative;
        margin-top: 30px;
}
.menuIcon5:hover{
    margin: 7px 10px 10px 10px;
    opacity: 0.8;
}

@media only screen and (max-width: 380px) {
    .menuBackground{
        background: url("../assets/LandingPage.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        height: 250vh;
        width: 100vw;
    }
    
    .menuIconsContainer{
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        position: relative;
        top: 140px;
    }
    
    .iconText{
        font-size: .7rem;
    }
    .menuIcon1{
        margin: 22px 10px 10px 10px;
        width: 50%;
        height: auto;
    }
    .menuIcon1:hover{
        margin: 22px 10px 10px 10px;
        opacity: 0.8;
    }
    .menuIcon2{
        margin: 10px 10px 10px 10px;
        width: 50%;
        height: auto;
    }
    .menuIcon2:hover{
        margin: 10px 10px 10px 10px;
        opacity: 0.8;
    }
    
    .menuIcon3{
        margin: 10px 10px 10px 10px;
        position: relative;
        top: 17px;
        width: 50%;
        height: auto;
    }
    .menuIcon3:hover{
        margin: 10px 10px 10px 10px;
        opacity: 0.8;
    }
    
    .menuIcon4{
        margin: 10px 10px 10px 10px;
        width: 50%;
        height: auto;
    }
    .menuIcon4:hover{
        margin: 10px 10px 10px 10px;
        opacity: 0.8;
    }

    .menuIcon5{
        margin: 10px 10px 10px 10px;
        width: 50%;
        height: auto;
       
    }
    .menuIcon5:hover{
        margin: 10px 10px 10px 10px;
        opacity: 0.8;
    }
  }