.controlbutton {
    color: #ffffff !important;
    
}

.controlbutton:hover{
        color: #fff !important;
}

.sliderstyle {
    color: #ffffff !important;
}

.playPauseCircle{
    background-color: #12CDD4;
    border-radius: 50px;
    padding: 10px;
}
