/* TODO: Move pomodoro styling from component to here... */

.ctrlBtn:hover {
    background-color: #d87c8c !important;
}

.pomosliderstyle {
    color: #d87c8c !important;
  }

  .pomosliderstyle:hover {
    color: #d17988 !important;
  }


.pomosliderlabel {
    
    color: white !important;
    text-align: center;

}

