/* TODO: Move pomodoro styling from component to here... */

.startBtn:hover {
    background-color: #d87c8c
}


.pomosliderstyle {
    color: #d87c8c !important;
  }


.pomosliderlabel {
    
    color: white !important;
    text-align: center;
}