.quoteBackground{
  background: url("../assets/quoteBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  
}

.quoteH1{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    color: white;
}


.q-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    line-height: 2rem;
    max-width: 100%;

    
  }
  
  .quote-div{
    margin-top: .5%;
    margin-left:auto;
    margin-right: auto;
    color: white;
    animation: fade-in-left 4s ease ;
  }
  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  p.quote {
    font-size: 25px;
  }
  
  p.author {
    font-size: 17px;
    font-style: italic;
  }

  .book-icon {
    max-width: 250px;
    height: auto;
    margin-top: 4.5rem;
  }

  @media only screen and (max-width: 430px) {

    .q-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
      line-height: 2rem;
      max-width: 100%;
    }
    
    .quote-div{
      margin-top: .5%;
      margin-left:auto;
      margin-right: auto;
      color: white;
      width: 300px;
    }

    p.quote {
      font-size: 19px;
    }

    p.author {
      font-size: 12px;
      font-style: italic;
      margin-bottom: 150px;
    }

    .book-icon {
      width: 150px;
      height: auto;
      margin-top: 4.5rem;
    }


    .quoteH1{
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      color: white;
      font-size: 15px;
  }
  }