.quoteBackground{
  background: url("../assets/darkBg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

h1{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    color: #2c5555;
}

.q-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    line-height: 2rem;
    max-width: 100%;
  }
  
  .quote-div{
    margin-top: .5%;
    width: 600px;
    margin-left:auto;
    margin-right: auto;
    color: #dce3e5;
  }

  p.quote {
    font-size: 25px;
  }
  
  p.author {
    font-size: 17px;
    font-style: italic;
  }

  .book-icon {
    max-width: 250px;
    height: auto;
    margin-top: 4.5rem;
  }